Repository hyoklee/vol-geotiff: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, check-cmake, no-debug-prints

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        types: [c]
        args: [--style=file]

  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        files: \.(c|h)$
        args:
          - --enable=all
          - --error-exitcode=1
          - --suppress=missingIncludeSystem
          - --suppress=unusedFunction
          - --suppress=unmatchedSuppression
          - --inline-suppr

      - id: check-cmake
        name: check cmake files
        entry: cmake
        language: system
        files: CMakeLists\.txt$|\.cmake$
        args: [--help]
        pass_filenames: false

      - id: no-debug-prints
        name: check for debug prints
        entry: 'printf.*[Dd][Ee][Bb][Uu][Gg]'
        language: pygrep
        files: \.(c|h)$
        types: [text]

      - id: check-todos
        name: check for TODO/FIXME
        entry: 'TODO|FIXME'
        language: pygrep
        files: \.(c|h)$
        types: [text]
        # This is a warning, not an error
        stages: [manual]

fix: remove redundant vol_plugin test step from CI workflow
  .github/workflows/ci.yml
Due: none

fix: use correct test executable name in CI workflow
  .github/workflows/ci.yml
Due: none

fix: h5py test should use native VOL for write operations
  .github/workflows/h5py-integration.yml
Due: none

fix: use existing valid TIFF files instead of creating fake ones
  .github/workflows/comprehensive-test.yml
Due: none

fix: add Homebrew prefix to CMAKE_PREFIX_PATH for macOS builds
  .github/workflows/comprehensive-test.yml
  .github/workflows/release.yml
Due: none

fix: remove hardcoded Linux paths from find_path/find_library
  src/CMakeLists.txt
Due: check-cmake

fix: add pkg-config fallback for libgeotiff on macOS
  src/CMakeLists.txt
Due: check-cmake

fix: add TIFF/GeoTIFF include dirs to test_runner when using pkg-config
  test/CMakeLists.txt
Due: check-cmake

debug: add verbose output for pkg-config GeoTIFF discovery
  src/CMakeLists.txt
Due: check-cmake

ci: trigger comprehensive testing on every push and PR
  .github/workflows/comprehensive-test.yml
Due: none

debug: add extensive logging for TIFF/GeoTIFF discovery and usage
  src/CMakeLists.txt
Due: check-cmake

debug: add logging to test and examples CMakeLists
  examples/CMakeLists.txt
  test/CMakeLists.txt
Due: check-cmake

debug: check where libgeotiff headers are installed on macOS
  .github/workflows/comprehensive-test.yml
Due: none

fix: create geotiff subdirectory compatibility shim for macOS
  src/CMakeLists.txt
Due: check-cmake

fix: symlink all geotiff headers and resolve library paths
  src/CMakeLists.txt
Due: check-cmake

fix: correct library resolution loop - don't clear original list
  src/CMakeLists.txt
Due: check-cmake

feat(windows): add MSVC build support and Windows compatibility
  examples/CMakeLists.txt
  examples/gnuplot_demo.c
  examples/simple_demo.c
  src/CMakeLists.txt
  src/geotiff_vol_connector.h
  test/CMakeLists.txt
  test/geotiff_tests.c
Due: cppcheck, check-cmake, no-debug-prints

ci(windows): add Windows testing to comprehensive-test workflow
  .github/workflows/comprehensive-test.yml
Due: none

fix(ci): ensure vcpkg include directories are found on Windows
  .github/workflows/comprehensive-test.yml
  examples/CMakeLists.txt
  src/CMakeLists.txt
  test/CMakeLists.txt
Due: check-cmake

fix(ci): create geotiff subdirectory for Windows vcpkg headers
  .github/workflows/comprehensive-test.yml
Due: none

fix(ci): copy DLLs to test directory on Windows
  .github/workflows/comprehensive-test.yml
Due: none

fix(ci): debug HDF5 DLL location and improve DLL discovery on Windows
  .github/workflows/comprehensive-test.yml
Due: none

fix(ci): use $<CONFIG> for HDF5_PLUGIN_PATH in Windows Debug builds
  test/CMakeLists.txt
Due: check-cmake

fix(ci): add test timeouts to prevent Windows debug build hangs
  .github/workflows/comprehensive-test.yml
  test/CMakeLists.txt
Due: check-cmake

fix(ci): exclude Windows Debug build from comprehensive tests
  .github/workflows/comprehensive-test.yml
Due: none

ci(release): test personal token
  .github/workflows/release.yml
Due: none

ci(release): rm share from HDF5_DIR
  .github/workflows/release.yml
Due: none

chore: merge improvements from DataFormats-VOLs/vol-geotiff
  CMakeLists.txt
  doc/usage.md
  examples/CMakeLists.txt
  examples/gnuplot_demo.c
  examples/simple_demo.c
  src/CMakeLists.txt
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
  src/geotiff_vol_err.h
  test/CMakeLists.txt
  test/geotiff_tests.c
  test/test_runner.c
Due: cppcheck, check-cmake, no-debug-prints

fix(cmake): fix test environment for Debug/Release configurations on Windows
  CMakeLists.txt
  test/CMakeLists.txt
Due: check-cmake

fix: support windows
  examples/CMakeLists.txt
  examples/gnuplot_demo.c
  examples/simple_demo.c
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
  test/geotiff_tests.c
Due: cppcheck, check-cmake, no-debug-prints

fix(cmake): use TARGET_FILE_DIR for test working directory
  test/CMakeLists.txt
Due: check-cmake

style: apply clang-format to source files
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
Due: cppcheck, no-debug-prints

fix: handle geometadata and nodata tags
  .claude/settings.local.json
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
  test/EMIT_L2B_FRCOVPV_001_20260311T195709_2607013_014.tif.cdl
  test/test_ncdump.sh
Due: cppcheck, no-debug-prints

feat: add CF convention attributes
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
  test/EMIT_L2B_FRCOVPV_001_20260311T195709_2607013_014.tif.cdl
  test/GLANCE30_A20190701_h13v41_001_20220824_NA_LC.tif.cdl
Due: cppcheck, no-debug-prints

test: generated lat/lon values
  test/test_ncdump.sh
Due: none

fix: handle fill value
  src/geotiff_vol_connector.c
  test/EMIT_L2B_FRCOVPV_001_20260311T195709_2607013_014.tif.cdl
  test/GLANCE30_A20190701_h13v41_001_20220824_NA_LC.tif.cdl
  test/test_ncdump.sh
Due: cppcheck, no-debug-prints

test: update testsuite
  test/geotiff_tests.c
Due: cppcheck, no-debug-prints

fix: resolve Code Quality CI failures
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
  test/geotiff_tests.c
Due: cppcheck, no-debug-prints

fix: always generate 2D
  src/geotiff_vol_connector.c
  test/EMIT_L2B_FRCOVPV_001_20260311T195709_2607013_014.tif.cdl
Due: cppcheck, no-debug-prints

fix: cog corruption
  src/geotiff_vol_connector.c
Due: cppcheck, no-debug-prints
