Repository hyoklee/vol-geotiff: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, check-cmake, no-debug-prints

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=all
  - --error-exitcode=1
  - --suppress=missingIncludeSystem
  - --suppress=unusedFunction
  - --suppress=unmatchedSuppression
  - --inline-suppr

check-cmake:
  name: check cmake files
  entry: cmake
  language: system
  args:
  - --help
  pass_filenames: false

no-debug-prints:
  name: check for debug prints
  entry: printf.*[Dd][Ee][Bb][Uu][Gg]
  language: pygrep

Fix dependabot configuration for GitHub Actions
  .github/dependabot.yml
Due: none

chore: allow bash commands
  .claude/settings.local.json
Due: none

fix: update GitHub Actions workflows to resolve all errors
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CMakeLists.txt
Due: check-cmake

style: format code with clang-format
  src/template_vol_connector.c
  src/template_vol_connector.h
  test/test_geotiff_read.c
  test/vol_plugin.c
Due: cppcheck, no-debug-prints

feat: update CI to use HDF5 develop branch from GitHub
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/release.yml
  CMakeLists.txt
Due: check-cmake

fix: resolve libgeotiff build configuration and document API issues
  LOCAL_TEST_RESULTS.md
  src/CMakeLists.txt
  src/template_vol_connector.h
Due: cppcheck, check-cmake, no-debug-prints

fix: improve API compatibility and add HDF5 version checks
  CMakeLists.txt
  LOCAL_TEST_RESULTS.md
  src/template_vol_connector.c
  src/template_vol_connector.h
Due: cppcheck, check-cmake, no-debug-prints

chore: fix badges
  README.md
Due: none

CI: Drop HDF5 1.14.* support and compatibility job; test exclusively against HDF5 develop branch across matrices.
  .github/workflows/ci.yml
Due: none

chore(format): apply clang-format to src and test; docs: update README for HDF5 develop-only support
  README.md
  src/template_vol_connector.c
  src/template_vol_connector.h
  test/vol_plugin.c
Due: cppcheck, no-debug-prints

fix(tests): replace getenv with _dupenv_s on Windows and free copy; chore(pre-commit): add setup script; feat(vol): align init/term signatures with HDF5 develop
  scripts/setup-precommit.ps1
  src/template_vol_connector.c
  src/template_vol_connector.h
  test/vol_plugin.c
Due: cppcheck, no-debug-prints

test(vol): relax getters to accept valid ID across HDF5 develop; portable getenv helper
  test/vol_plugin.c
Due: cppcheck, no-debug-prints

ci: fix gdal_create
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  README.md
Due: none

ci: fix gdal_create option
  .github/workflows/ci.yml
Due: none

chore: fix clang-format
  test/vol_plugin.c
Due: cppcheck, no-debug-prints

fix: resolve static analysis issues found by cppcheck
  src/template_vol_connector.c
  src/template_vol_connector.h
  test/test_geotiff_read.c
  test/vol_plugin.c
Due: cppcheck, no-debug-prints

style: fix clang-format violations
  src/template_vol_connector.c
  src/template_vol_connector.h
Due: cppcheck, no-debug-prints

fix: resolve compiler warnings and build errors
  src/template_vol_connector.c
  src/template_vol_connector.h
  test/test_geotiff_read.c
Due: cppcheck, no-debug-prints

fix: revert const qualifiers from callback function parameters
  src/template_vol_connector.c
  src/template_vol_connector.h
Due: cppcheck, no-debug-prints

fix: add cppcheck suppressions for callback function parameters
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

ci: remove ubuntu-20.04 from GitHub Actions matrix
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
Due: none

fix: simplify CTest environment configuration for vol_plugin test
  test/CMakeLists.txt
Due: check-cmake

style: fix clang-format violations in VOL connector code
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

fix: resolve CI test segfault and improve TIFF file validation
  .github/workflows/ci.yml
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

fix: resolve YAML syntax error in CI workflow file
  .github/workflows/ci.yml
Due: none

fix: clean up CI workflow YAML formatting and fix yamllint issues
  .github/workflows/ci.yml
Due: none

ci: rm python sample
  .claude/settings.local.json
  .github/workflows/ci.yml
Due: none

style: clang format
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

ci: report cdash
  .github/workflows/ci.yml
  CTestConfig.cmake
Due: check-cmake

feat: implement GeoTIFF band reader using H5Dread VOL API
  src/template_vol_connector.c
  src/template_vol_connector.h
  test/CMakeLists.txt
  test/test_band_read.c
  test/test_h5dump_vol.c
Due: cppcheck, check-cmake, no-debug-prints

style: fix clang-format indentation in geotiff_read_hyperslab
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

style: fix clang-format alignment in geotiff_read_hyperslab call
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

style: clang format
  src/template_vol_connector.c
  test/test_band_read.c
  test/test_h5dump_vol.c
Due: cppcheck, no-debug-prints

fix: improve cppcheck configuration in CI workflow
  .github/workflows/code-quality.yml
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

fix: mark unused parameters with __attribute__((unused))
  src/template_vol_connector.c
Due: cppcheck, no-debug-prints

feat: merge upstream changes from DataFormats-VOLs/vol-geotiff
  CMakeLists.txt
  README.md
  doc/mapping.md
  examples/CMakeLists.txt
  examples/README.md
  examples/demo_rings.tif
  examples/gnuplot_demo.c
  examples/simple_demo.c
  src/CMakeLists.txt
  src/geotiff_vol_connector.c
  src/geotiff_vol_connector.h
  src/geotiff_vol_err.h
  test/CMakeLists.txt
  test/geotiff_tests.c
  test/plugin_tests.c
  test/test_h5tools.sh
  test/test_runner.c
  test/test_runner.h
  test/test_vol_plugin.sh.in
Due: cppcheck, check-cmake, no-debug-prints

ci: add h5py integration test workflow
  .github/workflows/h5py-integration.yml
Due: none

Path conditions:
  cppcheck: any of: \.(c|h)$
  check-cmake: any of: CMakeLists\.txt$|\.cmake$
  no-debug-prints: any of: \.(c|h)$
